body {
  background: url(img/background.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.start {
  text-align: center;
  line-height: 60px;
  font-size: 24px;
  background-color: yellowgreen;
  width: 60px;
  height: 60px;
  border: 3px solid black;
  border-radius: 12px;
  margin-top: 10px;
  cursor: pointer;
}

.timer {
  background-color: white;
  width: 150px;
  height: 50px;
  border: 5px solid black;
  border-radius: 12px;
  margin-top: 10px;
  text-align: center;
  line-height: 50px;
  font-size: 24px;
  font-weight: bold;
}

.counter {
  background-color: thistle;
  width: 60px;
  height: 60px;
  margin-top: 10px;
  border: 3px solid black;
  border-radius: 50%;
}

.container__background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  opacity: 0.7;
  width: 500px;
  height: 200px;
  margin-top: 150px;
  border-radius: 24px;
  padding-top: 0;
}

.return {
  background-color: burlywood;
  width: 60px;
  height: 60px;
  margin-top: 10px;
  border: px solid black;
  border-radius: 12px;
  font-size: 36px;
  text-align: center;
  line-height: 60px;
  color: black;
  cursor: pointer;
}

.result {
  color: white;
  font-size: 36px;
}

.img {
  position: relative;
}
